.dialog--service--container {
  display: flex;
  border-bottom: 1px dashed gray;
  margin: 0;
  .dialog--details--title--light {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
  }

  p {
    margin: 10px;
    font-size: 13px;
  }
  .dialog--servicename--light,
  .dialog--description--light,
  .dialog--serviceprice--light {
    font-weight: bold;
  }
}
.timelist--container {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;
  border-bottom: 1px dashed gray;
  padding-bottom: 1rem;
  justify-content: start;
}
.timelist--items {
  list-style: none;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  background-color: #ff9a9c;
}
