/* welcome.css */
@font-face {
  font-family: regular;
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: semi-bold;
  src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: boldest;
  src: url("../fonts/Poppins-Bold.ttf");
}
* {
  font-family: regular;
}

.welcome--container {
  position: relative;
  background-color: #f4ffff;
  box-shadow: "inset 0 0 0 100vw rgba(0, 0, 0, 0.5)";
  width: 100vw;
  height: 100%;
}
.welcome--container .text--background {
  position: absolute;
  bottom: -100px;
  color: rgba(255, 132, 0, 0);
  font-weight: bolder;
  font-size: 17rem;
  z-index: 1;
}

.header {
  position: relative;
  display: flex;
  width: 100%;
  color: #191444;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.header .nav--list {
  display: flex;
  margin-right: 3rem;
  gap: 2.5rem;
  padding-left: 2rem;
  height: 10%;
}

.nav--list li {
  list-style: none;
  cursor: pointer;
}
.nav--list li a {
  position: relative;
  text-decoration: none;
  font-family: semi-bold;
  color: #191444;
  cursor: pointer;
}

li a::after {
  content: "";
  position: absolute;
  width: 0%;
  left: 0;
  bottom: -5px;
  height: 2px;
  background-color: #fe8401;
}
li a:hover {
  transition: 0.5s;
  color: #fe8401;
}
li a:hover::after {
  transition: 0.5s;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
}
.logo img {
  margin-left: 10px;
  max-width: 150px;
  height: 100px;
}

.section--container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.section--container .section--container--bg {
  position: absolute;
  background-image: url("../images/Mataura.png");
  background-repeat: no-repeat;
  opacity: 0.1;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section--container .content {
  text-align: start;
  padding: 0px 6rem;
  font-size: 1.3rem;
  line-height: 2rem;
  z-index: 2;
}

.content .content--promotion {
  font-size: 3rem;
  font-weight: bolder;
  line-height: 4rem;
  color: #fe8401;
  font-family: boldest !important;
}

.fadeout--btn {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fe8401;
  z-index: 2;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #fe8401;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #fe8401;
}
.fadeout--btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #fe8401;
}
.fadeout--btn:active {
  transform: scale(0.9);
}

.img {
  position: relative;
  overflow: hidden;
  height: 650px;
}
.img img {
  padding-top: 2rem;
  width: 80%;
  height: 650px;
}

.about {
  position: relative;
  text-align: start;
  display: grid;
  line-height: 2rem;
  grid-template-columns: 1fr 1fr;
}
.about .about--content {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about--content h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
}
.about .about--img {
  padding: 5rem;
}
.about .about--img .img {
  background-image: url("../images/about--img.jpg");
  background-size: cover;
}

.services {
  position: relative;
  height: 100%;
  width: 100%;
}

.swiper {
  width: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-pagination-bullet-active {
  background: #ff8400 !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 26px !important;
  height: 4px !important;
  border-radius: 0px !important;
  background: #ea9234 !important;
}

.contact {
  padding: 2rem;
}

.contact--container {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: space-around;
  border-bottom: 2px solid black;
}
.contact--container .contact--logo img {
  width: 100px;
  height: 100px;
}
.contact--container .contact-nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 !important;
  padding: 0;
}
.contact--container .contact-nav-list li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact--container .contact-nav-list li a {
  text-decoration: none;
  color: black;
}
.contact--container .contact-socmed-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.contact--container .contact-socmed-list a {
  color: black;
}

.other--section {
  background-color: aliceblue;
  text-align: start;
  padding: 2rem;
  margin: 50px 0px;
}
.other--section .other--content {
  padding-left: 3rem;
  width: 50%;
}
.other--section .other--content h1 {
  font-size: 30px;
}
.other--section .other--content p {
  color: gray;
}

.fadein--btn {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: white;
  z-index: 2;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #fe8401;
  border-radius: 10px;
  box-shadow: inset 0 -100px 0 0 #fe8401;
}
.fadein--btn:hover {
  color: #fe8401;
  box-shadow: inset 0 0 0 0 #fe8401;
}
.fadein--btn:active {
  transform: scale(0.9);
}/*# sourceMappingURL=style.css.map */